@media only screen and (max-width: 1000px) {

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/



/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/


/*-- Хлебные крошки  --*/


/*--  /Хлебные крошки  --*/





/*-- Главная страница --*/



/*-- /Главная страница --*/




/*-- Ремонт Компьютеров --*/


/*-- /Ремонт Компьютеров --*/





/*-- Страница проверки статуса заказа --*/



/*-- / Страница проверки статуса заказа --*/




/*-- Оставить отзыв --*/



/*-- /Оставить отзыв --*/



/*-- Все отзывы --*/


/*-- /Все отзывы --*/



/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/





}

@media only screen and (max-width: 940px) {

.row {
    padding: 0 1%;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/


/*-- Хлебные крошки  --*/


/*--  /Хлебные крошки  --*/





/*-- Главная страница --*/



/*-- /Главная страница --*/




/*-- Ремонт Компьютеров --*/


/*-- /Ремонт Компьютеров --*/





/*-- Страница проверки статуса заказа --*/



/*-- / Страница проверки статуса заказа --*/




/*-- Оставить отзыв --*/



/*-- /Оставить отзыв --*/



/*-- Все отзывы --*/


/*-- /Все отзывы --*/



/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/


}


@media only screen and (max-width: 768px) {

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

.head-logo-img {
    width: auto;
    height: 60px;
}

.scroll-header-bg {
    background: rgba(255, 255, 255, 1);
}

.head-tel-col {
    width: 68%;
}

.header-right-col {
    display: none;
}

.scroll-header-bg .head-tel-box {
    width: 100%;
}

.head-tel-box {
    width: 100%;
    text-align: right;
}

.header-contact-bg {
    padding: 3px 0;
    display: none;
}

.header-bg {
    padding: 5px 0;
}

.nav-link {
	font-size: 12px;
    padding: 1px 10px;
}

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/


/*-- Хлебные крошки  --*/


/*--  /Хлебные крошки  --*/





/*-- Главная страница --*/

.category-thumbs {
    width: 50%;
}


/*-- /Главная страница --*/




/*-- Ремонт Компьютеров --*/


/*-- /Ремонт Компьютеров --*/





/*-- Страница проверки статуса заказа --*/



/*-- / Страница проверки статуса заказа --*/




/*-- Оставить отзыв --*/



/*-- /Оставить отзыв --*/



/*-- Все отзывы --*/


/*-- /Все отзывы --*/



/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

	.corp {
	    font-size: 16px;
	}

	.footer-col {
		width: 100%;
		text-align: center;
		margin: 20px 0;
	}

	.footer-col .footer-col-right {
		float: none;
	}

	.footer-right-col-row .adress,
	.footer-right-col-row .work-time {
	    font-size: 18px;
	    line-height: 24px;
	    margin: 7px 0;
	}

	.footer-right-col-row .drive-cart {
	    font-size: 18px;
	    line-height: 24px;
	    margin: 15px 0;
	}

	.footer-tel-box {
		padding: 10px 0 0 0;
	}

	.footer-tel {
		margin: 10px 0;
	}

	.footer-tel-link {
		font-size: 22px;
    	line-height: 26px;
	}


}

@media only screen and (max-width: 480px) {

h2 {
    margin: 45px 0 30px 0;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

	.head-logo-img {
	    width: auto;
	    height: 50px;
	}

	.scroll-header-bg {
	    background: rgba(255, 255, 255, 1);
	}

	.head-tel-col {
	    width: 68%;
	}

	.header-right-col {
	    display: none;
	}

	.head-tel-box {
	    width: 100%;
	    text-align: right;
	}

	.head-tel-link {
	    font-size: 17px;
	    line-height: 28px;
	}

	.scroll-header-bg .head-tel-link {
		font-size: 17px;
	}

	.header-contact-bg {
	    padding: 3px 0;
	    display: none;
	}

	.header-bg {
	    padding: 2px 0;
	}

	.responsive-nav {
		display: block;
		height: 100vh;
		width: 150%;
		margin: 0 0 0 -25%;
		position: fixed;
		top: -100%;
		left: 0;		
		background: rgba(46, 45, 32, .9);
		overflow-y: scroll; 
	}

	.responsive-nav.show-main-nav {
		top: 0%;
	}

	.main-nav-btn,
	.top-main-nav-btn {
		display: block;
	}

	.header-navigation {
	    /*background: rgba(233, 233, 233, 1);*/
	    background: none;
	    margin: 10px 0;
	}

	.nav-item {
		display: block;
		width: 100%;
		text-align: center;
	}

	.nav-link,
	.scroll-header-bg .nav-link {
		display: block;
		width: 100%;
		color: #ffffff;
		font-size: 18px;
	    padding: 8px 10px;
	}

	.nav-link:link,
	.nav-link:visited {
		color: #ffffff;
	}


	/*-- Главная страница --*/

	.category-thumbs {
		display: block;
	    width: 98%;
	    margin: 0 auto;
	}

	.banner-main-page {
		width: 100%;
	}

	.vk-vidget-main-page {
		display: none;
	}

	.testimonials-main-page .testimonials-main .testimonial {
		display: block;
		width: 100%;
		margin: 20px 0;
	}

	.advantage-thumb {
		display: block;
		width: 100%;
		margin: 20px 0;

	}

	/*-- /Главная страница --*/


/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

		.footer-nav {
		display: none;
	}


}

